@charset "utf-8";
/* CSS Document */



.navigation{
    position:fixed;
    z-index:1;
    top:100px;
}
.navigation li{
    color:#333333;
    display:block;
    padding: 0px 10px;
    line-height:40px;
    margin-bottom:2px;
    font-weight:bold;
    -webkit-transition: all .2s ease-in-out;
    border-bottom:1px solid black;
    text-align:left;
    width:83px;
}
.navigation li:hover,.active{
    font-size:25px;
    cursor:pointer;
    width:100px!important;
}

.slide{
    background-attachment: fixed;
    width:100%;
    height:100%;
    padding: 30px 10px;
    position: relative;

}
.wrapper{
    width:100%;
    height:100%;
    top:100px;
    left:40px;
    position:relative;
}
.slideno{
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
.button{
    display:block;
    position:absolute;
    bottom:10px;
    left:50%;
}
.button:hover{
    background-color:#494949;
    cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{

    
}
/******************************
 SLIDE 2 
*******************************/
#slide2{

    
}
/******************************
 SLIDE 3 
*******************************/
#slide3{

}

/******************************
 SLIDE 4 
*******************************/

#slide4{

}

