{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Goal', {{ percent_complete }}],
        ]);

        var options = {
          width: 600, height: 220,
          greenFrom: 85, greenTo: 100,
          yellowFrom:60, yellowTo: 85,
          redFrom: 0, redTo: 10,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, {{ percent_complete}});
          chart.draw(data, options);
        }, 26000);

      }
</script>
<script type="text/javascript">
//# | datetimefilter }},
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawVisualization);
      function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Time'], 
          {% for ride in monthly_rides %}
          [
            '{{ ride[0] | datetimefilter }}', {{ ride[1] }}
          ],
          {% endfor %}
        ]);
        // Set chart options
            var options = {
              legend: 'none',
              chart: {
                vAxis: {title: "Time"},
                hAxis: {title: "Date"},
              }
            };
        // Instantiate and draw our chart, passing in some options.
        var ride_chart = new google.visualization.ColumnChart(document.getElementById("ride_chart_div"));
        //chart.draw(data, google.charts.Column.convertOptions(options));style="width: 90%; height: 80%; margin: 10px"
        ride_chart.draw(data, options);
      }
    </script>



  <div class="container">
    <h2>Commuting overview for {{firstname}} {{lastname}}</h2>
      <div class="row">
          <div class="col-md-8">
            <div id="ride_chart_div" ></div>
            <div class="row">
              <div class="col-md-6">
                <div class="alert alert-info">
                  <h1><span>{{ total_commutes }} commutes</span></h1>
                </div>
              </div>
              <div class="col-md-6">
                <div class="alert alert-success">
                  <h1><span>${{total_savings}} saved</span></h1>
                </div> 
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div id="chart_div" ></div>
        </div>
  </div>
  <div class="alert alert-success">
    <h1><span>${{goal}} remaining</span></h1>
  </div> 


<a href='commute_details'>details</a>
</div>


{% endblock %}