{% extends "base.html" %}
{% block content %}

<style>
      #g1, #g2, #g3 {
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;
      }
</style>

<script src="static/js/raphael.2.1.0.min.js"></script>
    <script src="static/js/justgage.1.0.1.min.js"></script>
<script>
      var g1;
      
      window.onload = function(){
        var g1 = new JustGage({
          id: "g1", 
          value: {{ percent_complete }}, 
          min: 0,
          max: 100,
          title: "Goal Progress",
          label: "% Complete"
        });
      };
</script>



<script src='http://d3js.org/d3.v3.min.js'></script>
<link rel="stylesheet" href="static/nv.d3.css">
<script type="text/javascript" src="static/nv.d3.min.js"></script>

<style>

#chart svg {
  height: 200px;
}
#piechart svg {
  height: 200px;
}

</style>
<script>
var piedata = [{
            key: "DOW",
            values: [
            {% for day in day_count %}
          {
            "label" : '{{ day[0] }}',
            "value" : {{ day[1] }}
          },
          {% endfor %}
        ]}];
nv.addGraph(function() {
  var pchart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(true);

    d3.select("#piechart svg")
        .datum(piedata)
        .transition().duration(350)
        .call(pchart);

  return pchart;
});

var data = [{
            key: "RIDES",
            values: [
            {% for ride in monthly_rides %}
          {
            "label" : '{{ ride[0] | datetimefilter }}',
            "value" : {{ ride[1] }}
          },
          {% endfor %}
        ]}];
nv.addGraph(function() {
  var chart = nv.models.discreteBarChart()
    .x(function(d) { return d.label })
    .y(function(d) { return d.value })
    .showXAxis(false)
    .tooltips(true)


  d3.select('#chart svg')
    .datum(data)
    .transition().duration(500)
    .call(chart);


  return chart;
});


</script>



  <div class="container">
    <h2>Commuting overview for {{firstname}} {{lastname}}</h2>
      <div class="row">
            <div class="col-md-8">
                <div id="chart">
                    <svg></svg>
                </div>
            <div class="row">
              <div class="col-md-6">
                <div class="alert alert-info">
                  <h1><span>{{ total_commutes }} commutes</span></h1>
                </div>
              </div>
            <div class="col-md-6">
                <div class="alert alert-success">
                  <h1><span>${{total_savings}} saved</span></h1>
                </div> 
              </div>
              <div class="col-md-6">
                <div class="alert alert-success">
                  <h1><span>{{total_distance}} kms</span></h1>
                </div> 
              </div>
              <div class="col-md-6">
                <div class="alert alert-info">
                  <h1><span>${{goal}} remaining</span></h1>
                </div> 
              </div>
            </div>
          </div>
        <div class="col-md-4">
            <div id="g1" ></div>
            <div id="pchart" style="height: 100px; " >
                <svg></svg>
            </div>
        </div>
  </div>
  <div>
    {{ monthly_savings }}
    {{day_count}}
  </div>


<a href='commute_details'>details</a>
</div>


{% endblock %}