{% extends "base.html" %}
{% block content %}

<style>
      #g1 {
        width:360px; height:240px;
        display: inline-block;
        margin: 1em;
      }
      #g2 {
        width:460px; height:440px;
        display: inline-block;
        margin: 1em;
      }
</style>

<script src="static/js/raphael.2.1.0.min.js"></script>
    <script src="static/js/justgage.js"></script>
<script>
      var g1;
      var g2;
      
      window.onload = function(){
        var g1 = new JustGage({
          id: "g1", 
          value: {{ percent_complete }}, 
          min: 0,
          max: 100,
          title: "{{ goal_title }}",
          label: "% Complete",
          customSectors: [{
            color : "#ff0000",
            lo : 0,
            hi : 10
          },{
            color : "#FFCC00",
            lo : 10,
            hi : 50
          }, {
            color : "#0000ff",
            lo : 50,
            hi : 75
          }, {
            color : "#00ff00",
            lo : 80,
            hi : 100
          }],
        });

        var g2 = new JustGage({
          id: "g2", 
          value: {{total_distance}} , 
          min: 0,
          max: 40075,
          title: "Round the world",
          label: "kms",
          gaugeWidthScale : 0.75,
          customSectors: [{
            color : "#ff0000",
            lo : 0,
            hi : 10019
          },{
            color : "#FFCC00",
            lo : 10019,
            hi : 20038
          }, {
            color : "#0000ff",
            lo : 20038,
            hi : 30056
          }, {
            color : "#00ff00",
            lo : 30056,
            hi : 40075
          }],
          donut: true
        });
      };
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
//# | datetimefilter }},
      google.load("visualization", "1.1", {packages:["bar", 'corechart', 'table', 'gauge', 'controls']});
      google.setOnLoadCallback(drawVisualization);
      function drawVisualization() {
        var thedata = google.visualization.arrayToDataTable([
          ['', 'Time'],
          {% for ride in monthly_rides %}
          [
            '{{ ride[0] | datetimefilter }}', {{ ride[1] }}
          ],
          {% endfor %}
        ]);
        // Set chart options
            var options = {
            chart: {
              title: 'Past month of commutes',
              },
              legend: { position: 'none' },
              vAxis: { textPosition: 'none' },
              hAxis: { textPosition: 'none' },
            };
        // Instantiate and draw our chart, passing in some options.
        var ride_chart = new google.charts.Bar(document.getElementById("ride_chart_div"));
        //chart.draw(data, google.charts.Column.convertOptions(options));style="width: 90%; height: 80%; margin: 10px"
        ride_chart.draw(thedata, options);
      }

      function dayOfWeekAsString(dayIndex) {
        return ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"][dayIndex];
      };

      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Day', 'Commutes per Day'],
          {% for day in day_count %}
            [
            '{{ day[0] | dayfilter }}', {{ day[1] }}
            ],
          {% endfor %}
        ]);

        var options = {
          title: 'Commutes by day',
          titleTextStyle: {
                    color: '#999999', 
                    fontName: 'Arial', 
                    fontSize: 42
                    },
          fontSize: 24,
          //colors: ['#DFF0D8', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
          colors: ['#7BC66B', '#52B552', '#299C39', '#218429', '#186321', '#184A18', '#103910']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }


 
    </script>


  <div class="container">
    <h2>Commuting overview for {{firstname}} {{lastname}}</h2>
    <div class="row">
        <div class="col-md-8">
                <div id="ride_chart_div" ></div>
        </div>
        <div class="col-md-4" style>
                <div id="g1"></div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                  <h1><span>{{ total_commutes }} commutes</span></h1>
                </div>
                <div class="alert alert-success">
                  <h1><span>${{total_savings}} saved</span></h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-success">
                  <h1><span>{{total_distance}} kms</span></h1>
                </div>
                <div class="alert alert-info">
                  <h1><span>${{goal}} remaining</span></h1>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div id="g2"></div>
        </div>
        <div class="col-md-5" style>
            <div id="piechart" style="width: 900px; height: 500px;"></div>
        </div>


</div>


<a href='commute_details'>details</a>
</div>


{% endblock %}