{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Commutra</h1>
        <p>Did you ever wanted to filter your commuting stats from your other Strava activities. This is an effort to do just that</p>
        <div class="row">
            <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <div class="panel-body">
                                    <img src="{{ url_for('static', filename='images/commutra_screen.png') }}">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <p><a class="btn btn-primary btn-lg" href="commute" role="button">View your stats</a></p>
      </div>
    </div>
{% endblock %}