{% extends "base.html" %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
-->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="../static/picker-gmaps/css/jquery-gmaps-latlon-picker.css"/>
  <script src="../static/picker-gmaps/js/jquery-gmaps-latlon-picker.js"></script>
<div class="container">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Commute Settings</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post" name="settings">
      {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-lg-5">
              <div class="form-group">
                {{ form.commute_tag }} <label>I use the commute tag to identify my commuting rides</label>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
              <label>I use a uniques string to identify my rides</label>
              {{ form.commute_string(class="form-control") }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
              <label>I am trying to achive the following goal</label><small> (pay off my bike, save a thousand dollars etc)</small>
              {{ form.goal_string(class="form-control") }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
              <label>Please enter goal amount:</label>
              {{ form.goal_number(class="form-control", size=20) }}
              {% for error in form.goal_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
              <label>Amount saved per comute</label> <small>(this might be the cost of train ticket, or fuel savings etc)</small>
              {{ form.savings(class="form-control") }}
              {% for error in form.savings.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
              <label>Carbon Savings per trip (in grams):</label>
              {{ form.carbon_number(class="form-control", size=20) }}
              {% for error in form.carbon_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
           </div>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
              <label>maps:</label>
              <fieldset class="gllpLatlonPicker">
                <input type="text" class="gllpSearchField">
                <input type="button" class="gllpSearchButton" value="search">
                <br/>
                <div class="gllpMap">Google Maps</div>
                lat/lon: {{ form.latitude(class="gllpLatitude form-control") }} / {{ form.longitude(class="gllpLongitude form-control") }}
                <input type="button" class="gllpUpdateButton" value="update map">
                <!-- lat/lon: <input type="text" class="gllpLatitude" value="20"/> / <input type="text" class="gllpLongitude" value="20"/> -->
                </fieldset>
           </div>
        </div>
    </div>
      <p><input type="submit" class="btn btn-success" value="Save"></p>
  </form>
 </div>
</div>

</div>
{% endblock %}