
   google.setOnLoadCallback(drawChartRangeFilter);

  function drawChartRangeFilter() {

    var dashboard = new google.visualization.Dashboard(
        document.getElementById('chartRangeFilter_dashboard_div'));

    var control = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'chartRangeFilter_control_div',
      'options': {
        // Filter by the date axis.
        'filterColumnIndex': 0,
        'ui': {
          'chartType': 'LineChart',
          'chartOptions': {
            'chartArea': {'width': '90%'},
            'hAxis': {'baselineColor': 'none'}
          },
          // Display a single series that shows the closing value of the stock.
          // Thus, this view has two columns: the date (axis) and the stock value (line series).
          'chartView': {
            'columns': [0, 1]
          },
          // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
          'minRangeSize': 86400000
        }
      },
      // Initial range: 2012-02-09 to 2012-03-20.
      'state': {'range': {'start': new Date(2015, 1, 9), 'end': new Date(2015, 4, 2)}}
    });

    var chart = new google.visualization.ChartWrapper({
      'chartType': 'ColumnChart',
      'containerId': 'chartRangeFilter_chart_div',
      'options': {
        // Use the same chart area width as the control for axis alignment.
        //'chartArea': {'height': '80%', 'width': '90%'},
        'hAxis': {'slantedText': false},
        //'vAxis': {'viewWindow': {'min': 0, 'max': 60}},
        'legend': {'position': 'none'}
      },
      // Convert the first column from 'date' to 'string'.

    });


    var ridedata = new google.visualization.DataTable();
          ridedata.addColumn('date', 'Date');
          ridedata.addColumn('number', 'Duration');
          ridedata.addRows([
          {% for ride in monthly_rides %}
          [ new Date({{ ride[0] | datefilter  }}), {{ ride[1] }}],
          {% endfor %}
        ]);

    dashboard.bind(control, chart);
    dashboard.draw(ridedata);
  }

<div id="chartRangeFilter_dashboard_div">
  <table class="columns">
    <tr>
      <td>
        <div id="chartRangeFilter_chart_div" style="width: 915px; height: 300px;"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="chartRangeFilter_control_div" style="width: 915px; height: 50px;"></div>
      </td>
    </tr>
  </table>
</div>